configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "candy-icons";
    font: "JetBrainsMono Nerd Font 12";
    display-drun: "󰣇 SYSTEM";
    display-run: " RUN";
    drun-display-format: "{name}";
}

@theme "/dev/null"

* {
    bg: #090a0f;
    fg: #00ffcc;
    magenta: #ff00aa;
    yellow: #fcee0a;
    cyan: #00ffcc;
    
    background-color: @bg;
    text-color: @fg;
}

window {
    width: 600px;
    border: 3px solid;
    border-color: @magenta;
    padding: 15px;
    background-color: @bg;
}

mainbox {
    spacing: 15px;
}

inputbar {
    spacing: 10px;
    padding: 12px;
    border: 2px solid;
    border-color: @yellow;
    background-color: @bg;
    children: [ prompt, entry ];
}

prompt {
    background-color: @bg;
    text-color: @yellow;
    font: "JetBrainsMono Nerd Font Bold 12";
}

entry {
    background-color: @bg;
    text-color: @cyan;
    placeholder: "Accessing mainframe...";
    placeholder-color: #005544;
}

listview {
    lines: 8;
    spacing: 5px;
    scrollbar: false;
    border: 2px solid;
    border-color: @cyan;
    padding: 10px;
}

element {
    padding: 8px 12px;
    spacing: 10px;
    border: 0px;
    background-color: transparent;
}

element normal.normal,
element alternate.normal {
    background-color: transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @magenta;
    text-color: #ffffff;
    border: 2px solid;
    border-color: @yellow;
}

element-icon {
    size: 24px;
    background-color: inherit;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}
