* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans Arabic", sans-serif;
    font-size: 16px; /* smaller font to prevent horizontal stretch */
    font-weight: 900;
}

#window {
    background-color: rgba(9, 10, 15, 0.65);
    border: 2px solid #00ffcc;
    animation: cyberShift 4s infinite linear;
    animation-delay: -0.5s;
    box-shadow: 2px 2px 5px #aa0055;
    border-radius: 15px;
}

#inner-box {
    margin: 10px;
    background-color: transparent;
}

#outer-box {
    margin: 10px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 0px;
    padding: 68px 30px;
    color: #00ffcc;
    animation: cyberShiftText 4s infinite linear;
    text-align: center;
}

#entry {
    margin: 10px;
    padding: 0px;
    border-radius: 15px;
    background-color: rgba(9, 10, 15, 0.4);
    border: 2px solid transparent;
    min-width: 160px;
    min-height: 160px;
    outline: none;
}

#entry:selected {
    background-color: #ff00aa;
    border: 2px solid #fcee0a;
    outline: none;
}

#entry:focus {
    outline: none;
}

#entry:selected #text {
    color: #ffffff;
    animation: none;
    text-shadow: 0 0 2px transparent;
}

@keyframes cyberShift {
    0% { border-color: #00ffcc; box-shadow: 2px 2px 5px #aa0055; }
    33% { border-color: #ff00aa; box-shadow: 2px 2px 5px #bb9900; }
    66% { border-color: #fcee0a; box-shadow: 2px 2px 5px #00ffcc; }
    100% { border-color: #00ffcc; box-shadow: 2px 2px 5px #aa0055; }
}

@keyframes cyberShiftText {
    0% { color: #00ffcc; text-shadow: 0 0 2px #00ffcc; }
    33% { color: #ff00aa; text-shadow: 0 0 2px #ff00aa; }
    66% { color: #fcee0a; text-shadow: 0 0 2px #fcee0a; }
    100% { color: #00ffcc; text-shadow: 0 0 2px #00ffcc; }
}
